# dependencies
node_modules/
.pnp
.pnp.*

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
*.log
.vercel
.turbo

# typescript
*.tsbuildinfo
next-env.d.ts

# env files (MUST BE IGNORED)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env
frontend/.env.local

# OS files
Thumbs.db
desktop.ini
